## Package Installation

In [ ]:
pip install fastf1

In [12]:
from fastf1.ergast import Ergast
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#Get Circuits Example
client = Ergast(result_type='pandas')
circuits = client.get_circuits(season=2023)
circuits

In [ ]:
#Get all Drivers:
drivers = client.get_driver_info(season=2023)
drivers

In [104]:
#Get Lap Time Data:
all_lap_time_df = pd.DataFrame()
for eachDriver in drivers["driverId"]:
    total_results = False
    lap_times = client.get_lap_times(season=2023,round=16,driver=eachDriver,result_type='pandas')   
    while lap_times.is_complete == False:    
        if len(lap_times.content)>0:
            all_lap_time_df = all_lap_time_df.append(lap_times.content[0],ignore_index=True)
            try:
                lap_times=lap_times.get_next_result_page()
            except Exception as e:
                if str(e) == 'No more data after this response.':
                    break

   number driverId  position                   time
0       1   alonso         6 0 days 00:02:09.194000
1       2   alonso         6 0 days 00:02:42.981000
2       3   alonso         6 0 days 00:02:46.946000
3       4   alonso         6 0 days 00:02:48.972000
4       5   alonso         6 0 days 00:01:39.508000